html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Avenir LT W01 55 Roman", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #000;
}
a {
    color: #000;
}
a:hover {
    color: #ec0000;
    text-decoration: underline;
}
h1 {
    margin: 20px 0 10px 20px;
    line-height: 26px;
    font-size: 26px;
    font-family: "Avenir LT W01 85 Heavy", Arial, sans-serif;
    font-weight: normal;
}
h2 {
    margin: 0 0 30px 20px;
    line-height: 1.25;
    font-size: 18px;
    max-width: 734px;
}
p {
    margin-left: 20px;
    margin-right: 20px;
}
.header {
    display: block;
    height: 50px;
    border-bottom: 2px #999 solid;
}
.header_logo {
    position: absolute;
    top: 10px;
    left: 10px;
}
.header_title {
    line-height: 50px;
    color: #000;
    margin-left: 85px;
    font-family: "Avenir LT W01 85 Heavy", Arial, sans-serif;
    font-weight: normal;
}
.header a {
    text-decoration:none;
}

table {
    padding: 0;
    width: 100%;
    margin-bottom: 40px;
}
thead {
    height: 26px;
    background-color: #fff;
    color: #000;
    text-align:left;
}
th {
    padding-left: 20px;
    font-family: "Avenir LT W01 85 Heavy", Arial, sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    height: 32px;
}
tbody tr, tbody td {
    border-bottom: #ccc 1px solid;
    line-height: 20px;
    padding: 10px 0 10px 20px;
}
tbody img {
    height: 26px;
    width: auto;
}

.column1 {
    width: 30%;
}
.column2 {
    width: 10%;
}
.column3 {
    width: 10%;
}
.column4 {
    width: 10%;
}
.column5 {
    width: 30%;
}
.column6 {
    width: 10%;
}

.info-icon, .lock-icon {
    border-radius: 50%;
    border-color: rgb(204, 204, 204);
    border-width: 3px;
    border-style: solid;
    width: 1.3em;
    height: 1.2em;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 1px;
    font-weight: bold;
    background: #eee;
    cursor: context-menu;
    float: inline-end;
    color: rgb(204, 159, 11);

}
td:hover .info-icon, .lock-icon:hover {
    border-color: rgb(155, 155, 155);
}

.filter-hidden {
    display: none;
}

.search-container {
    float: inline-end;
    margin: 8px;
    width: 222px;
}

.search-container.active > .search-cross {
    display: inline-block;
}

.search-cross {
    display: none;
    cursor: pointer;
    padding: 3px;
    font-weight: bold;
    margin-left: -31px;
    color: #404040;
}

.search-input {
    display: inline-block;
}
